<!DOCTYPE html>
<html>
<head>
     <meta http-equiv="refresh" content="1">
</head>
<body>
    <pre>
This page will refresh every second.

When the webserver is killed the next request will fail.

Cyborg should then restart the webserver within a few seconds,
and clicking 'try again' should show this page again.

This server has been running for approximately {{ uptime }} seconds.
    </pre>
</body>
</html>
